<h3><%= h(note.user.email) %></h3>
<p><%= h(note.body) %></p>
<% if current_user == note.user %>
<form action="<%= note_url(note) %>" method="POST">
  <%= authenticate %>
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Note">
</form>
<br>
<% end %>
