<% if task == :create %>
  <% url = bands_url %>
  <% method = "POST" %>
<% else %>
  <% url = band_url(band) %>
  <% method = "PATCH" %>
<% end %>

<form action=" <%= url %>" method="POST">
  <input type="hidden" name="_method" value="<%= method %>">
  <%= authenticate %>

  <label for="name">Band Name</label>
  <input type="text" name="band[name]" id="name" value="<%= band.name %>">
  <br><br>

  <input type="submit" value="Submit">

</form>
